/*Screen 2 - Safety screen*/
.safety{
    padding-top: 13%;
    
    font-size: 20px;
    color: #181b21;
    font-weight: 500;
}
.descript{
    font-size: 26px;
    font-weight: 500;
    font-family: "gotham-medium";
    margin-bottom: 35%;
}
.text{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 48%;
}
#safety-img{
    background: url(../Images/model_3_safety_hero.png) no-repeat center;
    background-size: cover;
    background-position: -100px 0;
}
.img-desrpt, .line{
    font-family: "gotham-light";
    font-size: 14px;
}
#ip{
    position: absolute;
    top: 123%;
    left: 53.5%;
}
#rs{
    position: absolute;
    top: 114%;
    left: 69.5%;
}
#vlrr{
    position: absolute;
    top: 182%;
    left: 73%;
}
.line{
    border: solid 1px black;
    height: 200px;
    width: 2px;
    position: absolute;
}
#l1{
    top: 125%;
    left:53%;
}
#l2{
    top: 115%;
    left: 69%;
    height: 90px;
}
#l3{
    top: 160%;
    left: 72.5%;
    height:150px;
}
.plus{
    color: #000;
    border-radius: 20px;
    padding: 10px;
    margin-left: 3px;
    cursor: pointer;
}
#plus-text{
    font-family: "gotham-light";
    font-size: 12px;
    color: #000;
    height: 10px;
    width: 18px;
    position: relative;
    top: 17px;
    left: 4px;
}