
@font-face{
    font-family: 'gotham-book';
    src: url(../Fonts/GothamBook.otf);
}

@font-face{
    font-family: 'gotham-bold';
    src: url(../Fonts/GothamBold.ttf);
}

@font-face{
    font-family: 'gotham-medium';
    src: url(../Fonts/GothamMedium.ttf);
}

@font-face{
    font-family: 'gotham-light';
    src: url(../Fonts/GothamLight.otf);
}
 
/* for developing only */
/*div, section{
    border: 1px solid red;
} */

/*General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   width: 100vw;
   height: 900vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clr{
    clear: both;
}
.svgs{
    display: inline;
}

/*Screen definitions*/
.full-screen{
    height: 100vh;
    width: calc(100vw - var(--scrollbar-width))
}
.horizontal-screen_top{
    height: 80vh;
}
.vertical-screen30{
    width: 30vw;
    background-color: #fff;
    font-family: "gotham-light";
}
.vertical-screen30-left{
    padding-left: 5%;
}
.vertical-screen30-right{
    padding-right: 3%;
    padding-left: 3%;
}
.vertical-screen70{
    width: 69.8vw;
}
.screen-1{    
    background: url("../images/model-3-background-screen-1.jpg") no-repeat center fixed;
    background-size: cover;
    background-position: 0 -60px;
}
.screen-2 div{
    float: left;
}
.screen-3 div{
    float: left;
}